/* -----------------------------------------------------------------------------
   color theme (uncomment one of these, or create your own in the same pattern)
----------------------------------------------------------------------------- */
/* RuDI "rust" color theme */
:root {
    --banner-background-dark: #491a06;
    --header-color: #F4EDE2;
    --header-border: #7c5948;
    --header-border-light: #ab9384;
    --banner-color: #d2c3b6;
    --banner-color-active: #e3d8cc;
    --body-background: #f8f8f8;
    --content-color: #391d11;
    --hover-background-light: #491a0611;
}
/* University of Michigan color theme */
/* :root {
    --banner-background-dark: #00274C;
    --header-color: #FFCB05;
    --header-border: #73712c;
    --header-border-light: #b29a1a;
    --banner-color: #F2D384;
    --banner-color-active: #fbf2da;
    --body-background: #f8f8f8;
    --content-color: #2e3236;
    --hover-background-light: #00274C11;
} */
 /* -----------------------------------------------------------------------------
   standard layout variables and styles
----------------------------------------------------------------------------- */
:root {
    --hover-mask-dark: #ffffff11;
    --code-background-color: #e4e4e4;
    --banner-border-width: 1px;
    --header-height: 50px;
    --half-header-height: 20px;
    --border-header-height: 51px;
    --sidebar-width: 175px;
    --border-sidebar-width: 176px;
    --sidebar-app-name-height: 45px;
    --sidebar-tab-height: 42px;
    --standard-padding: 10px;
    --half-standard-padding: 5px;
    --twice-standard-padding: 20px;
    --max-reading-width: 650px;
}
.section-title {
    font-weight: 600;
    margin: var(--standard-padding) 0 var(--half-standard-padding) var(--half-standard-padding);
}
.spacer{
    height: var(--standard-padding);
}
.wide-spacer {
    height: var(--twice-standard-padding);
}
h1 {
    font-size: 1.35em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: var(--half-standard-padding)
}
h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: var(--standard-padding);
    margin-bottom: var(--half-standard-padding)
}
h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: var(--standard-padding);
    margin-bottom: var(--half-standard-padding)
}
code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 0.95em;
    color: var(--banner-background-dark);
    background-color: var(--code-background-color);
    border-radius: 5px;
    padding: 0 var(--half-standard-padding);
}
p {
    max-width: var(--max-reading-width);
}
/* -----------------------------------------------------------------------------
   main page layout and cascading styles
----------------------------------------------------------------------------- */
body {
    background-color: var(--body-background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0; 
}
#main { /* created by Dioxus */
    height: 100vh;
    min-height: 0px;
    overflow: hidden;
}
.rudi-header-layout {
    height: 100%;
    display: grid;
    grid-template-rows: var(--border-header-height) 1fr;
    color: var(--header-color);
}
.rudi-sidebar-layout {
    width: 100%;
    display: grid;
    grid-template-columns: var(--border-sidebar-width) 1fr;
}
.rudi-banner {
    background-color: var(--banner-background-dark);
}
#rudi-suite-name-wrapper, #rudi-header-content-wrapper {
    height: var(--header-height);
    line-height: var(--header-height);
    border-bottom: var(--banner-border-width) solid var(--header-border);
}
#rudi-suite-name-wrapper {
    border-bottom: var(--banner-border-width) solid var(--header-border-light);
}
#rudi-suite-name-wrapper, #app-steps-navbar-wrapper {
    text-align: center;
    white-space: nowrap;
    border-right: var(--banner-border-width) solid var(--header-border);
}
#rudi-suite-name-wrapper {
    font-size: 1.1em;
    padding: 0;
    cursor: pointer;
}
#rudi-suite-name{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.05em;
}
#rudi-suite-name-wrapper:hover {
    background-color: var(--hover-mask-dark);
}
#app-steps-content {
    padding: var(--standard-padding) var(--twice-standard-padding);
    overflow: auto;
    border-left: var(--banner-border-width) solid var(--header-border);
    border-top: var(--banner-border-width) solid var(--header-border);
    color: var(--content-color);
}
/* -----------------------------------------------------------------------------
   shell header
----------------------------------------------------------------------------- */
#rudi-header-content {
    /* width: 100%; */
    margin: 0 var(--standard-padding);
}
#rudi-header-content-icons {
    float: left;
}
#rudi-header-content-icons > button {
    margin-top: 13px;
    background-color: transparent;
    color: var(--banner-color);
    border: none;
}
#rudi-header-content-icons > button:hover {
    color: var(--banner-color-active);
    cursor: pointer;
}
#rudi-header-content-server-data {
    margin-top: 5px;
    float: right;
    text-align: right;
    color: var(--banner-color);
}
#rudi-header-content-server-data > div {
    line-height: var(--half-header-height);
}
#rudi-header-content-server-data > div:hover {
    color: var(--banner-color-active);
}
/* -----------------------------------------------------------------------------
   data package loader
----------------------------------------------------------------------------- */
.data-package-loader {
    width: 100%;
    max-width: 680px;
    padding: var(--standard-padding);
    border-top: var(--banner-border-width) solid var(--header-border);
    border-bottom: var(--banner-border-width) solid var(--header-border);
}
/* -----------------------------------------------------------------------------
   app chooser
----------------------------------------------------------------------------- */
.app-chooser-row {
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
}
.app-chooser-row:hover {
    background-color: var(--hover-background-light);
    cursor: pointer;
}
.app-chooser-row > div {
    display: inline-block;
    padding: var(--standard-padding);
    border-top: var(--banner-border-width) solid var(--header-border);
    border-bottom: var(--banner-border-width) solid var(--header-border);
}
/* -----------------------------------------------------------------------------
   app step sidebar children
----------------------------------------------------------------------------- */
.app-step-link {
    color: var(--banner-color);
    height: var(--sidebar-tab-height);
    line-height: var(--sidebar-tab-height);
    border-bottom: var(--banner-border-width) solid var(--header-border);
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-step-link:hover, .app-step-link-selected {
    background-color: var(--hover-mask-dark);
    color: var(--banner-color-active);
    cursor: pointer;
}
.app-step-link:nth-child(1) {
    color: var(--header-color);
    border-bottom: var(--banner-border-width) solid var(--header-border-light);
    font-size: 1.05em;
    height: var(--sidebar-app-name-height);
}
