/* -----------------------------------------------------------------------------
   main page grid layout and the four quadrant wrappers
----------------------------------------------------------------------------- */
#main { /* the main div outer wrapper is created by Dioxus */
    height: 100vh;
}
#page-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--border-header-height) 1fr;
    box-sizing: border-box;
}
.app-steps-sidebar {
    grid-template-columns: var(--app-steps-sidebar-width) 1fr;
}
.instructions-sidebar {
    grid-template-columns: var(--instructions-sidebar-width) 1fr;
}
.hidden-sidebar {
    grid-template-columns: var(--hidden-sidebar-width) 1fr;
}
#page-suite-label-wrapper, #page-header-content-wrapper, #app-steps-navbar-wrapper {
    background-color: var(--header-sidebar-background);
}
#page-suite-label-wrapper, #page-header-content-wrapper {
    color: var(--header-color);
    height: var(--header-height);
    line-height: var(--header-height);
    border-bottom: var(--banner-border-width) solid var(--header-border-dark);
    cursor: default;
}
#page-suite-label-wrapper, #app-steps-navbar-wrapper, #instructions-wrapper {
    border-right: var(--banner-border-width) solid var(--header-border-dark);
}
#page-suite-label-wrapper, #app-steps-navbar-wrapper {
    text-align: center;
    white-space: nowrap;
}
#page-suite-label-wrapper {
    border-bottom: var(--banner-border-width) solid var(--header-border-light);
    padding: 0;
}
#app-steps-navbar-wrapper {
    overflow-y: auto;
}
#main-content-wrapper {
    border-top: var(--banner-border-width) solid var(--header-border-dark);
    border-left: var(--banner-border-width) solid var(--header-border-dark);
    padding: var(--standard-padding) var(--twice-standard-padding);
    color: var(--content-color);
    overflow: auto;
}
#instructions-wrapper {
    border-top: var(--banner-border-width) solid var(--header-border-dark);
    border-right: var(--banner-border-width) solid var(--header-border-dark);
    background-color: white;
    color: var(--content-color);
    text-align: left;
    overflow: auto;
    position: relative;
    padding-bottom: 25px;
}
/* -----------------------------------------------------------------------------
   main page header: suite label and header content area
----------------------------------------------------------------------------- */
/* page suite label */
#page-suite-label{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    /* cursor: pointer; */
}
/* #page-suite-label:hover {
    background-color: var(--hover-mask-dark);
} */
/* page header content area */
#page-header-content {
    margin: 0 var(--standard-padding);
}
#page-header-content-icons {
    float: left;
}
#page-header-content-icons > button {
    margin-top: 13px;
    background-color: transparent;
    color: var(--header-sidebar-color);
    border: none;
}
#page-header-content-icons > button:hover {
    color: var(--header-sidebar-color-active);
    cursor: pointer;
}
#page-header-content-server-data {
    margin-top: 5px;
    float: right;
    text-align: right;
    color: var(--header-sidebar-color);
}
#page-header-content-server-data > div {
    line-height: var(--half-header-height);
}
#page-header-content-server-data > div:hover {
    color: var(--header-sidebar-color-active);
}
/* -----------------------------------------------------------------------------
   main page sidebar: app step chooser, bookmark save, and app step instructions
----------------------------------------------------------------------------- */
/* app step chooser */
.app-step-link {
    color: var(--header-sidebar-color);
    height: var(--sidebar-tab-height);
    line-height: var(--sidebar-tab-height);
    border-bottom: var(--banner-border-width) solid var(--header-border-dark);
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-step-link:hover, .app-step-link-selected {
    background-color: var(--hover-mask-dark);
    color: var(--header-sidebar-color-active);
    cursor: pointer;
}
.app-step-link:nth-child(1) {
    color: var(--header-color);
    border-bottom: var(--banner-border-width) solid var(--header-border-light);
    font-size: 1.05em;
    height: var(--sidebar-app-name-height);
}
/* bookmark saver */
#save-bookmark-wrapper {
    margin-top: var(--twice-standard-padding);
    margin-left: var(--standard-padding);
    color: var(--header-sidebar-color-active);
    text-align: left;
    font-size: 0.95em;
    cursor: default;
}
.save-bookmark-type {
    margin-top: var(--half-standard-padding);
    margin-left: var(--standard-padding);
    color: var(--header-sidebar-color);
    cursor: pointer;
}
.save-bookmark-type:hover {
    color: var(--header-sidebar-color-active);
}
/* app step instructions */
#instructions-wrapper > div {
    padding: var(--standard-padding);
}
#instructions-wrapper > div > *:first-child {
    margin-top: 0;
    padding-top: 0;
}
#instructions-close {
    position: absolute;
    top: var(--half-standard-padding);
    right: var(--standard-padding);
    color: #666;
}
#instructions-close:hover {
    color: #644;
    cursor: pointer;
}
/* -----------------------------------------------------------------------------
   launch page: data package loader, bookmark loader, app chooser
----------------------------------------------------------------------------- */
/* data package loader, bookmark loader */
.data-package-loader, .bookmark-loader {
    width: 100%;
    max-width: 680px;
    padding: var(--standard-padding);
    border-top: var(--banner-border-width) solid var(--header-border-dark);
    border-bottom: var(--banner-border-width) solid var(--header-border-dark);
}
.data-package-loader input, .bookmark-loader input {
    border: 0;
    background-color: transparent;
}
.app-chooser-row {
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
}
.app-chooser-row:hover {
    background-color: var(--hover-background-light);
    cursor: pointer;
}
.app-chooser-row > div {
    display: inline-block;
    padding: var(--standard-padding);
    border-top: var(--banner-border-width) solid var(--header-border-dark);
    border-bottom: var(--banner-border-width) solid var(--header-border-dark);
}
/* -----------------------------------------------------------------------------
   content panel fluid page
----------------------------------------------------------------------------- */
.fluid-page {
    width: 100%;
}
.fluid-span {
    float: left;
}
/* -----------------------------------------------------------------------------
   app step page
----------------------------------------------------------------------------- */
.app-step-header {
    display: flex;
    align-items: center;
    gap: var(--standard-padding);
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: var(--standard-padding);
}
.app-step-header-icon {
    cursor: pointer;
    color: var(--header-border-dark);
}
.app-step-header-icon:hover {
    cursor: pointer;
    color: var(--header-sidebar-background);
}
/* -----------------------------------------------------------------------------
   data display panels
----------------------------------------------------------------------------- */
.display-panel {
    margin:  var(--half-standard-padding);
    border: 1px solid var(--header-sidebar-background);
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--header-border-dark);
    background-color: white;
}
.display-panel-title {
    border: 1px solid var(--header-sidebar-background);
    border-radius: 5px 5px 0 0;
    background-color: var(--data-panel-title-background);
    color: var(--header-color);
    padding:  var(--half-standard-padding);
    white-space: nowrap;
    overflow: hidden;
}
.display-panel-title-full {
    height: var(--panel-header-full-height);
    line-height: var(--panel-header-full-height);
}
.display-panel-title-empty {
    height: var(--panel-header-empty-height);
    line-height: var(--panel-header-empty-height);
    position: relative;
}
.display-panel-contents {
    padding:  var(--half-standard-padding);
}
.display-panel-title-empty:hover {
    background-color: var(--header-sidebar-background-active);
    cursor: pointer;
}
.display-panel-plus-minus {
    float: right;
}
.display-panel-ellipsis {
    position: absolute;
    top: 0;
    right: var(--standard-padding);
}
.display-panel-icon:hover {
    color: white;
    cursor: pointer;
}
.display-panel-error {
    color: #dd0000;
}
/* -----------------------------------------------------------------------------
   input panels and user inputs
----------------------------------------------------------------------------- */
.input-panel-contents {
    display: flex;
    flex-direction: column;
    gap: var(--standard-padding);
}
.input-panel-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input-wrapper label {
    font-size: .95em;
    font-weight: 600;
    margin: 0 0 5px 5px;
}
.select-input-wrapper button {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* -----------------------------------------------------------------------------
   table panel tables
----------------------------------------------------------------------------- */
.table-panel-table {
    outline: 1px solid var(--table-dark-grey);
    border-collapse: collapse;
    width: 100%;
    color: var(--table-color);
}
.table-panel-table tr:nth-child(even) {
  background-color: var(--table-row-background-even);
}
.table-panel-table tr:nth-child(odd) {
  background-color: var(--table-row-background-odd);
}
.table-panel-table-header {
    background-color: var(--table-row-background-header) !important;
    border-bottom: 1px solid var(--table-black) !important;
}
.table-panel-table tr:hover {
    background-color: var(--table-row-background-active);
    cursor: pointer; 
}
.table-panel-table th,
.table-panel-table td {
    padding: 2px;
    font-size: 0.9em;
    border: 1px solid var(--table-light-grey);
}
.table-panel-table th {
    border-bottom: 1px solid var(--table-dark-grey);
    text-align: left;
    cursor: pointer;
}
.table-panel-table td {
    text-align: right;
}
.table-panel-table svg {
    float: right;
}
.table-major-sort {
    padding-top: 0px;
    color: var(--table-black);
}
.table-minor-sort {
    padding-top: 2px;
    color: var(--table-dark-grey);
}
.table-panel-table th:hover {
    background-color: var(--table-row-background-active); 
}
/* -----------------------------------------------------------------------------
   plot panel plots
----------------------------------------------------------------------------- */
/* the plot panel height scales automatically to maintain the image aspect ratio */
.plot-panel-contents {
    position: relative;
}
.plot-panel-canvas{
    width: 100%; 
    height: auto;
}
.plot-panel-crosshairs-wrapper,
.plot-panel-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.plot-panel-crosshairs-wrapper {
    z-index: 15;
}
.crosshair-vertical {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
}
.crosshair-horizontal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
}
.plot-panel-overlay-wrapper {
    z-index: 10;
    display: grid;
    gap: 0;
}
.plot-panel-overlay-quadrant {
    background-color: transparent;
}
.plot-panel-overlay-quadrant:hover {
    border: 1px solid var(--header-border-dark);
    cursor: pointer;
}
